*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 80px;
    background: #00416A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e4e5e659, #00416A), url(fisica\ port.png);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e4e5e659, #00416A), url(fisica\ port.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
   position: relative;
   background-attachment: fixed;
}
nav{
    text-align: right;
    padding: 20px 50px 0 0;
}
nav >a{
    color: #fff;
    font font-weight: 300;
    text-decoration:none;
    margin-right: 10px;
}
nav >a:hover{
    text-shadow: 4px 5px 4px black;
    color:red;
}
.hover-galeria img{
    width: 50px;
}
.hover-galeria p{
    color: #fff;
}
.imagen-port:hover .hover-galeria{
    transform: scale(1);
}


.medidas{
    
    font-size: 20px;
    
    color:black;

    
}
/*contenedor videos*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1f1f1;
}

.video-container {
    max-width: 1000px;
    margin: 100px auto;
    position: relative;
}

.video-row {
    display: flex;
    margin-bottom: 20px;
    overflow-x: auto;
    scroll-behavior: smooth; /* Animación suave de desplazamiento */
}

.video-box {
    width: 60vw;
    height: 33.75vw;
    box-sizing: border-box;
    position: relative;
    margin-right: 10px;
    flex: 0 0 auto;
}

.video-box iframe {
    width: 97%;
    height: 100%;
}



.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 45px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

.scroll-button.left {
    left: -30;
}

.scroll-button.right {
    right: -30;
}

@media screen and (max-width:767px){
    header{
        background-position: center;
    }
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #f1f1f1;
    }
    
    .video-container {
        max-width:1000px;
        margin: 200px auto;
        width: 500;
        height: auto;
    }
    
    .video-row {
        display: flex;
        margin-bottom: 20px;
        overflow-x: auto;
        scroll-behavior: smooth; /* Animación suave de desplazamiento */
    }
    
    .video-box {
        width: 100vw;
        height: 80vw;
        box-sizing: border-box;
        position: relative;
        margin-right: 10px;
        flex: 0 0 auto;
    }
    
    .video-box iframe {
        width: 95%;
        height: 100%;
    }
    
    
    
    .scroll-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 45px;
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 18px;
        text-align: center;
    }
    
    .scroll-button.left {
        left: -30;
    }
    
    .scroll-button.right {
        right: -30;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    header{
        background-position: center;
    }
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #f1f1f1;
    }
    
    .video-container {
        max-width:1000px;
        margin: 200px auto;
        width: 500;
        height: auto;
    }
    
    .video-row {
        display: flex;
        margin-bottom: 20px;
        overflow-x: auto;
        scroll-behavior: smooth; /* Animación suave de desplazamiento */
    }
    
    .video-box {
        width: 50vw;
        height: 40vw;
        box-sizing: border-box;
        position: relative;
        margin-right: 10px;
        flex: 0 0 auto;
    }
    
    .video-box iframe {
        width: 95%;
        height: 100%;
    }
    
    
    
    .scroll-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 45px;
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 18px;
        text-align: center;
    }
    
    .scroll-button.left {
        left: -30;
    }
    
    .scroll-button.right {
        right: -30;
    }

}
@media screen and (min-width: 992px) and (max-width: 1199px){
    header{
        background-position: center;
    }
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #f1f1f1;
    }
    
    .video-container {
        max-width:1000px;
        margin: 200 auto;
        width: 500;
        height: ;
    }
    
    .video-row {
        display: flex;
        margin-bottom: 20px;
        overflow-x: auto;
        scroll-behavior: smooth; /* Animación suave de desplazamiento */
    }
    
    .video-box {
        width: 50vw;
        height: 30vw;
        box-sizing: border-box;
        position: relative;
        margin-right: 10px;
        flex: 0 0 auto;
    }
    
    .video-box iframe {
        width: 95%;
        height: 100%;
    }
    
    
    
    .scroll-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 45px;
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 18px;
        text-align: center;
    }
    
    .scroll-button.left {
        left: -30;
    }
    
    .scroll-button.right {
        right: -30;
    }
}